@import "tailwindcss";
.creator {
  font-size: 13px;
  font-weight: 500;
  background: linear-gradient(90deg, #888, #fff, #888);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% { background-position: 0%; }
  100% { background-position: 200%; }
}